body {
    font-family: system-ui;
    background: whitesmoke;
    color: black;
  }
  header{
    padding-left: 4%;
  }
  .button{
    width:100%
  }
  .first{
    display:block;
    border:none;
    background-color:whitesmoke;
    /* margin-top:56px; */
    font-size:20px;
    color: grey;
  }
  .topnav {
    overflow: hidden;
    }
  .topnav .icon {
      display: none;
    }
  .main-text{
    font-size:4rem;
  }
    /* @media screen and (min-width: 600px) { */
      .first{
        margin-top: 0;
      }
      .topnav a{
        display: none;
      }
      .topnav a.icon {
          font-size: 30px;
        color: red;
        float: left;
        display: block;
      }
      .main{
    position:absolute;left:10%;
  }
      .head{
        text-align: center;
      }
      .topnav.responsive {position: absolute;}
      .topnav .icon {
        position: fixed;
        top: 2%;
        left: 10%;
      }
      .topnav.responsive a {
        float: left;
        display: block;
        /* text-align: right; */
      }
      .topnav.responsive {float: none;}
      .topnav.responsive {position: relative;}
      .topnav.responsive{
        display: block;
        width: 100%;
        text-align: right;
      }
      .main hr{
        display: none;
      }
         .cart1{
          display: none;
      }
      .topnav i{
          position: fixed; top: 2%; right: 2%;
      }
      .menu{
        width: 90%;
        display: grid;
        gap: 10px;
        margin-bottom: 20px;
        grid-template-columns: repeat(2, 1fr);
      }
      .menu1{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        text-align: center;
        border-radius: 10%;
        cursor: pointer;
      }
      .menu1 img{
        border-radius: 60%;
      }
      .menu-text{
        padding: 2px 16px;
      }
      .main2{
          display: inline;
          /* gap: 10%; */
      }
      .main-cap{
          font-size: 35px;
          width: 95%;
          position: absolute; top: 90%;
      }
  /* @media (min-width: 768px){
    .main-text{
    font-size: 3rem;
  }
  } */
  @media (min-width: 1024px){
    .topnav a{
        display: block;
      }
      .first{
        display:block;
        border:none;
        background-color:whitesmoke;
        margin-top:56px;
        font-size:20px;
        color: grey;
      }
      .topnav{
          overflow: hidden;
      }
      .head{
        text-align: left;
      }
    .topnav a.icon{
        display: none;
    }
    .main-text{
        font-size: 5rem;
    }
      .main-cap{
        width: 20%;
    }
    .main{
        display: table;
        position:absolute; top:3%; left:20%;
    }
    .main hr{
        display: block;
        color: red;
        width: 30%;
        float: left;
        height: 2px;
        background-color:red;
    }
    .menu{
        width: 90%;
        display: flex;
        gap: 3%;
        height: 100%;
    }
  .menu1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
  }
  .menu1 img{
    border-radius: 60%;
  }
  .menu-text{
    padding: 2px 16px;
  }
  .main2{
      display: flex;
      gap: 10%;
  }
  .main-cap{
    font-size: 20px;
    width: 25%;
    position: absolute; top: 0; right: 10%;
}
  .cart1{
      display: block;
      height: 45px;
      width: 130px;
      cursor: pointer;
      border-radius: 50px;
      outline: none;
      background-color: rgb(231, 79, 102);
      color: white;
      border: 1px solid  rgb(231, 79, 102);
      text-decoration: none;
      text-transform: uppercase;
      position: relative; top:0%; left: 0%;
  }
  .topnav i{
   display: none;
}
  .head-text{
    text-align: center;
    position: relative; left: -15%;
    /* position: absolute; bottom: -30%; left: 45%; */
  }
  .head-text caption{
          font-size: 28px;
  }
  .head-text-2{
    display: flex;
    position: relative; left: -15%;
    /* position: absolute; */
    /* padding: 10%; */
    /* padding-right: 30%; */
  }
  .head-text-2 p{
    font-size: 20px;
  }
  .head-texting{
    font-style: bold;
  }
  .img-1{
    width: 40%;
    height: 50%;
    position: relative; left: 5%;
  }
  .page-footer{
    margin: 0%;
    position: absolute; left: -25%; top: 103%;
    /* position: absolute; top: 183%; */
            /* padding: 10px 10px 0px 10px; */
            bottom: 0;
            width: 125%;
            /* Height of the footer*/ 
            height: 40px;
            background: grey;
    background-color: blue;
    /* justify-content: end;
    position: sticky;
    width: 96%;
    padding: 2%;
    margin: 0%; */
  }
  .footer-copyright{
    text-align: center;
  }
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .menu-text button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 50px;
  }